extends layout

block vars
    -var title ='Directions'

block content
    h2 #{title}
    p Here are directions to where we are located
    meta(name="viewport" content="initial-scale=1.0") 
    meta(charset="utf-8")
    style
        map(height: 100%)  
        html
        body(height: 100% margin: 0) 
    div(id=map style width:450px,height:350px)
    //- script
    //-   var map
    //-   function initMap() {
    //-     var myLatLng = {lat: 40.7661, lng: -111.8907}
    //-     map = new google.maps.Map(document.getElementById('map')
    //-        zoom: 19
    //-        center: myLatLng
    //-     var marker = new google.maps.Marker
    //-        position: myLatLng
    //-        map: map
    //-        title: Express Burger 145 Main St Salt Lake City UT 84111
    //- script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUPaBbHyIq4-6qtVaK82Y2dhJrkatbyIU&callback=initMap"
    //- async defer
