doctype html
head
    title
    link(href='main.css', rel='stylesheet')
    block vars
    title #{title}
body
    header
        nav
            a(href='index') Home 
            a(href='directions') Directions 
            a(href='menu1') Burgers
            a(href='menu2') Soups
            a(href='menu3') Ice Cream
    section
    block content
    footer
        p Copyright © 2017 Something Cooler
 


