extends layout

block vars
    -var title = 'Burgers';
    
block content
    h2 #{title}
    p Here's our selection of burgers, with something for just about everyone we're sure you'll find something you like!

    ul
        each item in Burgers
            li
                div= item.ProductName

                //-Loading the image is not currently working, in theory we want to use item.Image as the source in the end.

                img(src="./public/images/burgers/a1_burger.jpg") 
                p= item.Description
                div= item.Price