extends layout

block vars
    -var title = 'Burgers';
    
block content
    h2 #{title}
    p Here's our selection of burgers, with something for just about everyone we're sure you'll find something you like!

    p #{Burgers[1].ProductName}
    ul
        //- each item in Burgers
        //-     li= item.ProductName