html {
    background: #19575E;
}

body {
    background: #6CC6F7;
   
    width: 85%;
    margin: 30px auto;
    padding: 45px;
    
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    min-width: 500px;
}

nav a {
    line-height: 20px;
    
    width: 100px;
    padding: 5px 10px;
    border: 2px solid #000;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: black;
    height: 20px;
    transition-property: height, line-height;
    transition-duration: .5s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

nav a:hover {
    color: white;
    height: 30px;
    line-height: 30px;
}

section {
    clear: both;
}
h1{
    color:white;
    width: 200px;
    height: 115px;
    background: #19575E;
    padding: 20px;
    
}

h2{
    color:#242424;
}